// Responsive videos
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

// Responsive audios
.audio-container {
	position: relative;
	height: 35px;
	overflow: hidden;
	width: 150px;
	margin: 25px 0px 0px 0px;
	left: 1.2%;
}

.audio-container iframe,
.audio-container object,
.audio-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}