@import url(http://fonts.googleapis.com/css?family=Lato:400);
@import url(http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css);
@import url(http://fonts.googleapis.com/css?family=Roboto:300,700,400);

$highlight: rgba(255,255,255,1);
$lowlight: rgba(0,0,0,0.8);
$dimlight: rgba(0,0,0,0.03);
$fontLight: white;
$fontDarkish: #555;
$fontDark: black;
$fontRed: #EB4444;
$fontGreen: #222;
$fontBlue: #666;

$font-roboto: 'Roboto', sans-serif;
$font-lato: 'Lato', sans-serif;