$highlight: rgba(255,255,255,1);
$lowlight: rgba(0,0,0,0.8);
$dimlight: rgba(0,0,0,0.03);
$fontLight: white;
$fontDarkish: #555;
$fontDark: black;
$fontRed: #EB4444;
$fontGreen: #222;
$fontBlue: #666;

$font-roboto: 'Roboto', sans-serif;
$font-lato: 'Lato', sans-serif;