<div class="pull-right hidden-md hidden-sm hidden-xs">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- 300 x 600 -->
	<ins class="adsbygoogle"
		style="display:inline-block;width:300px;height:600px"
		data-ad-client="ca-pub-1335786241529939"
		data-ad-slot="6217893380"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</div>
<div class="pull-right hidden-lg hidden-xs">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- 336 x 280 -->
	<ins class="adsbygoogle"
		style="display:inline-block;width:336px;height:280px"
		data-ad-client="ca-pub-1335786241529939"
		data-ad-slot="7432730189"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</div>
<div class="text-center hidden-lg hidden-md hidden-sm">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- 320 x 100 -->
	<ins class="adsbygoogle"
		style="display:inline-block;width:320px;height:100px"
		data-ad-client="ca-pub-1335786241529939"
		data-ad-slot="1709666185"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</div>