<header>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}">Media Unmasked</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
				<li><a href="{{ site.url }}{{ site.baseurl }}/tutorials">Tutorials</a></li>
				<li><a href="{{ site.url }}{{ site.baseurl }}/reviews">Reviews</a></li>
				<li><a href="{{ site.url }}{{ site.baseurl }}/freebies">Freebies</a></li>
				<li><a href="{{ site.url }}{{ site.baseurl }}/gear">Gear</a></li>
				<li><a href="{{ site.url }}{{ site.baseurl }}/contact">Contact</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<div style="background: no-repeat center {{ page.bgsize }} url({{ page.featuredimage }}); background-size: cover; height: 350px;">
		<div class="headline">{{ page.headline }}</div>
	</div>
</header>

<article class="container">
	{% if page.path contains '_posts' %}
		<span class="pull-right date text-right">{{ page.date | date: "%B %-d, %Y" }}</span>
	{% endif %}