<div class="fsad-left col-md-6 col-sm-12">
	<div class="video-container">
		<iframe width="560" height="315" src="//www.youtube.com/embed/{{ page.vid-n }}" frameborder="0" allowfullscreen></iframe>
	</div>
</div>
<div class="fsad-right hidden-xs">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- 336 x 280 -->
	<ins class="adsbygoogle"
	     style="display:inline-block;width:336px;height:280px"
	     data-ad-client="ca-pub-1335786241529939"
	     data-ad-slot="7432730189"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</div>
<!-- Smaller area -->
<div class="visible-xs-* hidden-sm"></div>
<div class="clearfix"></div>