<!-- Adblock checker -->
<script type="text/javascript">
<!--
    var adblock = true;
//-->
</script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/advertisement.js"></script>

<!-- YouTube player test -->
<div class="col-md-8 col-sm-12">
	<div class="video-container">
		<iframe width="560" height="315" src="//www.youtube.com/embed/{{ page.vid-n }}" frameborder="0" allowfullscreen></iframe>
	</div>
</div>
<div class="vid-n-ad col-md-4 col-sm-12">
		<script type="text/javascript">
		<!--
		if (adblock) {
			document.write('<div class="img-byvideo"><div class="hidden-xs hidden-sm" style="background: url({{ page.thumb }}) center center; background-size: cover; width: 336px; height: 280px;"></div></div>');
		}
		else {
			document.write('<div class="transcript_title">Sponsors</div>');
		}
		//-->
		</script>
		<div class="hidden-xs hidden-sm">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- 336 x 280 -->
			<ins class="adsbygoogle"
			     data-ad-client="ca-pub-1335786241529939"
			     data-ad-slot="7432730189"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>

	<script type="text/javascript">
	<!--
	if (adblock) {
	document.write('<div class="hidden-md"><h4><b>AdBlock?</b> Please consider donating.</h4><div class="pull-left"><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"><input type="hidden" name="cmd" value="_s-xclick"><input type="hidden" name="hosted_button_id" value="J6YXKVNEUT3H2"><input type="image" src="http://i.imgur.com/6mg3sIs.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"><img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"></form></div><div class="pull-right" style="width:156px; padding:2px; overflow:hidden;"><a class="coinbase-button" data-code="1004ee6bdd0de0c40fa0c545bea2b9c1" data-button-style="custom_small" href="https://coinbase.com/checkouts/1004ee6bdd0de0c40fa0c545bea2b9c1">Donate Bitcoins</a></div></div>');
	}
	//-->
	</script>
	
	<!-- Bitcoin donate button -->
	<script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>

	<div class="text-center hidden-md">
		<br>
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- 320 x 100 -->
		<ins class="adsbygoogle"
		     style="display:inline-block;width:320px;height:100px"
		     data-ad-client="ca-pub-1335786241529939"
		     data-ad-slot="1709666185"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
</div>
<div class="clearfix"></div>