@mixin cover {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@mixin center-h {
	clear: both;
	float: none;
	text-align: center;
}

@mixin center-v {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin shadow {
	-moz-box-shadow: 3px 4px 22px 0px #ccc;
	-webkit-box-shadow: 3px 4px 22px 0px #ccc;
	box-shadow: 3px 4px 22px 0px #ccc;
}