---
---

.preload * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
}

article {
	font-size: 1.4em;
}

body {
	color: red;
}