---
---
@import "bootstrap";
@import "bootstrapnavcolors";
@import "variables";
@import "mixins";
@import "external-links";
@import "nav-colorization";
@import "responsive-media";
@import "isotope";
@import "transcription";
@import "ads";
@import "share";
@import "email";

::selection {
	background: $lowlight;
	color: $fontLight;
	text-shadow: none;
}

html, body {
	font: {
		family: $font-roboto;
	}
}

a, a:visited, a:active, a:hover, a:link {
	border-bottom: none;
	text-decoration: none;
}

article {
	font: {
		size: 1.4em;
	}
	p {
		a, a:visited, a:active, a:link {
			color: $fontBlue;
			border-bottom: none;
			text-decoration: none;
			&:hover {
				color: $fontGreen;
				border-bottom: solid thin $fontGreen;
			}
		}
	}
}

blockquote {
	font-size: 1.1em;
	footer {
		text-align: right;
		a, a:visited, a:active, a:link {
			color: $fontDarkish;
			text-decoration: none;
			border-bottom: none;
			&:hover {
				color: $fontDark;
				border-bottom: none;
			}
		}
	}
}

footer {
	margin: 0px auto;
	padding: 3% 1%;
	text-align: center;
	width: 98%;
	a, a:visited, a:active, a:link {
		color: $fontDark;
		text-decoration: none;
		&:hover {
			color: $fontDarkish;
			text-decoration: none;
		}
	}
	.attribution {
		@media only screen and (max-width: 800px) {
			display: none;
		}
	}
}

header {
	font-family: $font-lato;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

p {
	margin: 10px;
}

pre {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

table {
	margin: 0 auto;
}

/****************************
// Classes
****************************/

.preload * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
}

#search {
	margin: 10px;
	padding: 5px 0px 5px 10px;
	border-radius: 2px;
	border: none;
}

@-webkit-keyframes flyin {
	from {opacity: 0; visibility: hidden}
	to {opacity: 1; visibility: visible}
}

.flyin {
	-webkit-animation: flyin 1s forwards;
}

@-webkit-keyframes flyout {
	from {opacity: 1; visibility: visible}
	to {opacity: 0; visibility: hidden}
}

.flyout {
	-webkit-animation: flyout 1s forwards;
}

.results-container {
	z-index: 1;
	position: relative;
	ul#results {
		width: 100%;
		list-style-type: none;
		background: white;
		margin: 0;
		padding: 0;
		position: absolute;
		li {
			padding: .8% 2%;
			width: 50%;
			&:nth-child(odd) {
				float: left;
				border-left: 2px solid #333;
				clear: both;
			}
			&:nth-child(even) {
				float: left;
				border-left: 2px solid #333;
			}
			a, a:link, a:visited, a:hover, a:active {
				color: #333;
				font: {
					size: 1.2em;
				}
			}
		}
	}
}

.book {
	font-style: italic;
}
.container {
	/* @include shadow; */
	background: white;
	position: relative;
	top: -44px;
	padding: 0;
}
.container-home {
	h2 {
		a {
			color: $fontDark;
		}
	}
	background: white;
	max-width: 1100px;
	margin: 0 auto;
	padding: 20px;
}

.relatedpost {
	list-style-type: none;
}

.top-trim {
	padding: 10px 20px;
	background-color: $breadcrumb-bg;
}

.wrapper {
	padding: 0px 26px;
}

.date {
	color: #999;
}

.headline {
	@include center-h;
	@include center-v;
	background: $lowlight;
	color: $fontLight;
	font-size: 4em;
}

.img-thumbnail {
	float: left;
	width: 280px;
	height: 220px;
	margin-right: 10px;
}

.imglink::after {
	background: none !important;
	height: auto;
	max-width: 10px;
}

.imgnav {
	height: 20px;
	margin: 0px 0px 0px 4px;
	display: initial;
	position: absolute;
	top: 6px;
}

.navbar-inverse {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.thumbnail {
	margin: 0px 1% 0px 1%;
	width: 100%;
}

.thumb {
	height: auto;
	max-width: 250px;
}

.thumb-h-med {
	height: 300px;
	width: auto;
}

.thumb-small {
	height: auto;
	max-width: 100px;
}

.thumb-smed {
	height: auto;
	max-width: 350px;
}

.thumb-med {
	height: auto;
	max-width: 500px;
}

.thumb-large {
	height: auto;
	max-width: 800px;
}

// Overlaying post lists
.overlaybtn {
	background: rgba(0,0,0,0.8);
	padding: 6px 10px;
	border-radius: 4px;
	font-size: 2em;
	@media (max-width: 762px) {
		font-size: 1em;
	}
}

.overlaycontainer {
	background: rgba(0,0,0,0.6);
	padding: 4px;
	text-align: center;
	font-size: 1.4em;
}

.overlayimg {
	height: 200px;
	width: 100%;
}

.overlaytxt {
	a, a:hover, a:visited, a:link, a:active {
		color: white;
	}
}

.postlist {
	list-style-type: none;
	padding: 0;
	li {
		margin-bottom: 2.5%;
	}
}

.rating {
	margin: 0 auto;
	max-width: 100%;
	img {
		max-height: 52px;
	}
}